@font-face {
   font-family: 'Minecraft Regular';
   font-display: swap;
   src: url('file:///C:/Users/HP/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-13_170952/fonts/Minecraft%20Regular/font.ttf');
}
